.main-app-container
{
    width:100%;
    margin:0px auto;
    text-align: center;
    background:#fff;
  
}

.tag-line
{
    width:100%;
    background:#E6E6E6;
  
    
}

.container{
    width:30%;
    margin:0px auto;
  
    
}

.app-heading
{
    margin:0px;
    padding-top:100px;
    color:black;
    line-height:50px;
    font-size:50px;
}

.img-style
{
    width:100px;
    padding:20px;
}

.track-now
{
    padding-bottom:50px;
}
.second-scene{
    margin:0px auto;
    display: none;
    
}

.second-scene .container{
    width:50%;
}

/*style sheet for calendar */

.calendar-container{
    padding: 10px;
    width: 210px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
    
}

.calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

.calendar-month-year{
    margin: 5px;
}

.calendar-dates>table>tr>td{
    padding: 5px;
}

.date-sel
{
    color:red;
}

.date-sel td:hover{
    background-color:orange;
}

.calendar-prev
{
    float:left;
    padding:10px;
}

.calendar-present
{
    float:left;
    padding:10px;
}

.calendar-section {

    background: yellow;
    display: inline-block;

}